.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 40px 50px 40px;
  height: 100%;
}

.nav .body {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.nav .body .linkContainer {
  perspective-origin: bottom;
}

.nav .body a {
  text-decoration: none;
  color: black;
  font-size: 46px;
}

.nav .footer {
  display: flex;
  flex-wrap: wrap;
}

.nav .footer a {
  width: 50%;
  color: black;
  margin-top: 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  z-index: -1;
}
